/* CSS Style Sheet */
body {
    margin: auto;
    padding: 0px 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: yellow;
}

input {
    width: 50px;
}